<!DOCTYPE html>
<html>
  <head>
    <title>Fitnezz App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
  </head>
  <body>

<nav>
  <a href="/fitnezz">Workout list</a>
  |
  <a href="/fitnezz/new">Create a New Workout</a>

</nav>