<!DOCTYPE html>
<html>
  <head>
    <title>Fitnezz App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
  </head>
  <body>

<nav class="button">
  <button type="button"><a href="/fitnezz">Workout Home Page</a></button>
  |
  <button type="button"><a href="/fitnezz/new">Create a New Workout</a></button>

</nav>