<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitnezz Index</title>
</head>
<body>
    <h1>MyFitnezz App</h1>
    <ul>
        <% for(let i = 0; i < fitnezz.length; i++) { %>
        <li>
            <a href="/fitnezz/<%=fitnezz[i].id%>">
                <%=fitnezz[i].day%>
               
            </a>
        </li>
        <% } %>
    </ul>
   

    <nav>
        <a href="/fitnezz/new">Create a New Workout</a>
    </nav>

</body>
</html>