<%- include('./partials/header.ejs') %>
    <h1>Add a new Workout</h1>

    <form method="POST" action="/fitnezz">
      <fieldset>
        <label for="day">Day:</label>
        <input id="day" type="text" name="day" placeholder="Enter new Day">
      </fieldset>
      <fieldset>
        <label for="exercise1">Exercise 1:</label>
        <input id="exercise1" type="text" name="exercise1" placeholder="Enter name of Exercise">
        <label for="sets1">Sets:</label>
        <input id="sets1" type="text" name="sets1" placeholder="Enter amount of sets">
        <label for="reps1">Reps:</label>
        <input id="reps1" type="text" name="reps1" placeholder="Enter Number of Reps">
      </fieldset>

      <fieldset>
        <label for="exercise2">Exercise 2:</label>
        <input id="exercise2" type="text" name="exercise2" placeholder="Enter name of Exercise">
        <label for="sets2">Sets:</label>
        <input id="sets2" type="text" name="sets2" placeholder="Enter amount of sets">
        <label for="reps2">Reps:</label>
        <input id="reps2" type="text" name="reps2" placeholder="Enter Number of Reps">
      </fieldset>
      <fieldset>

        <label for="exercise3">Exercise 3:</label>
        <input id="exercise3" type="text" name="exercise3" placeholder="Enter name of Exercise">
        <label for="sets3">Sets:</label>
        <input id="sets3" type="text" name="sets3" placeholder="Enter amount of sets">
        <label for="reps3">Reps:</label>
        <input id="reps3" type="text" name="reps3" placeholder="Enter Number of Reps">
      </fieldset>

      <fieldset>
        <label for="exercise4">Exercise 4:</label>
        <input id="exercise4" type="text" name="exercise4" placeholder="Enter name of Exercise">
        <label for="sets4">Sets:</label>
        <input id="sets4" type="text" name="sets4" placeholder="Enter amount of sets">
        <label for="reps4">Reps:</label>
        <input id="reps4" type="text" name="reps4" placeholder="Enter Number of Reps">
      </fieldset>

      <fieldset>
        <label for="exercise5">Exercise 5:</label>
        <input id="exercise5" type="text" name="exercise5" placeholder="Enter name of Exercise">
        <label for="sets5">Sets:</label>
        <input id="sets5" type="text" name="sets5" placeholder="Enter amount of sets">
        <label for="reps5">Reps:</label>
        <input id="reps5" type="text" name="reps5" placeholder="Enter Number of Reps">
      </fieldset>

      <fieldset>
        <label for="exercise6">Exercise 6:</label>
        <input id="exercise6" type="text" name="exercise6" placeholder="Enter name of Exercise">
        <label for="sets6">Sets:</label>
        <input id="sets6" type="text" name="sets6" placeholder="Enter amount of sets">
        <label for="reps6">Reps:</label>
        <input id="reps6" type="text" name="reps6" placeholder="Enter Number of Reps">
      </fieldset>

      <fieldset>
        <label for="image">Images:</label>
        <input id="image" type="text" name="image" placeholder="Enter images here">
        </fieldset>
    <br>


      <button>Add to Schedule!</button>
    </form>

</body>
</html>